#survey-header {
  ion-buttons.cancel-button {
    padding-left: 10px;
  }

  ion-title {
    span {
      opacity: 0.9;
      font-weight: 300;
    }
  }

  #countdown {
    margin: 0;
    padding: 0 5px;
  }

  ion-item {
    --background: transparent;
    --color: white;
    --inner-border-width: 0;

    ion-label {
      font-weight: bold;
      font-size: 1.2em;

      span.warn {
        color: var(--ion-color-warning);
      }
    }
  }

  ion-progress-bar {
    height: 7px;
    --background: var(--color-primary-700);

    &::part(progress) {
      transition: transform 700ms linear 0s;
    }
  }
}
