ion-tab-bar {
  --background: var(--ion-color-primary-gradient);
  padding: 5px 0 9px;
  padding-bottom: var(--ion-safe-area-bottom + 0, 9px);

  &.ios {
    // TODO: check if needed
    padding-bottom: calc(var(--ion-safe-area-bottom) + 9px);
  }

  ion-tab-button {
    max-width: 20vw;
    --padding-start: 3;
    --padding-end: 3;
    background: transparent;
    --color: var(--ion-color-primary-contrast);
    --color-selected: var(--ion-color-secondary);

    ion-icon {
      font-size: 2rem;
      --ionicon-stroke-width: 20px;
    }

    ion-label {
      margin: 0;
    }

    &.tab-selected {
      ion-label {
        font-family: 'Inter';
        font-weight: 700;
      }
    }
  }
}
