#survey-footer {
  position: none;
  padding: 20px;
  background: transparent;

  .next-button {
    z-index: 24;
    left: 50%;
    transform: translateX(-50%);
    --background: var(--ion-color-primary);
    --background-activated: none;
    --color: var(--ion-color-secondary);
    width: 80%;
    --border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(var(--ion-color-primary-rgb), 0.5);
    font-weight: bold;

    ion-icon {
      margin: 0;
    }
  }

  .finish-button {
    text-transform: uppercase;
  }
}
