ion-item-sliding.survey-list-item {
  border-radius: var(--theme-border-radius);
  max-width: 600px;

  & > ion-item {
    --border-style: none;
    --padding-start: 0;
    --inner-padding-end: 5px;
    --border-radius: var(--theme-border-radius);
  }
}
