@import '@ionic/core/css/ionic.bundle.css';
@import '@flumens/ionic/dist/themes/rounded.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:not([role='button']) {
    // change link colours
    color: var(--ion-color-primary);
  }
  h1 {
    // tailwind is loaded later than ionic so resets some of the ionic's base styles
    @apply mt-5 text-2xl;
  }
}

:root {
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-rgb: var(--color-primary-rgb);
  --ion-color-primary-contrast: var(--color-primary-50);
  --ion-color-primary-contrast-rgb: var(--color-primary-50-rgb);
  --ion-color-primary-shade: var(--color-primary-700);
  --ion-color-primary-tint: var(--color-primary-500);
  --ion-color-primary-dark: var(--color-primary-950);
  --ion-color-primary-gradient: linear-gradient(
    165deg,
    var(--ion-color-primary),
    var(--ion-color-primary-shade)
  );
  --ion-color-primary-border: #cdd3e7;
  --ion-color-primary-dark-border: #cdd3e7;

  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-rgb: var(--color-secondary-rgb);
  --ion-color-secondary-contrast: var(--color-secondary-50);
  --ion-color-secondary-contrast-rgb: var(--color-secondary-50-rgb);
  --ion-color-secondary-shade: var(--color-secondary-700);
  --ion-color-secondary-tint: var(--color-secondary-500);
  --ion-color-secondary-dark: var(--color-secondary-950);

  --ion-color-tertiary: var(--color-tertiary);
  --ion-color-tertiary-rgb: var(--color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--color-tertiary-50);
  --ion-color-tertiary-contrast-rgb: var(--color-tertiary-50-rgb);
  --ion-color-tertiary-shade: var(--color-tertiary-700);
  --ion-color-tertiary-tint: var(--color-tertiary-500);
  --ion-color-tertiary-dark: var(--color-tertiary-950);

  --ion-color-success: var(--color-success);
  --ion-color-success-rgb: var(--color-success-rgb);
  --ion-color-success-contrast: var(--color-success-50);
  --ion-color-success-contrast-rgb: var(--color-success-50-rgb);
  --ion-color-success-shade: var(--color-success-700);
  --ion-color-success-tint: var(--color-success-500);
  --ion-color-success-dark: var(--color-success-950);

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-rgb: var(--color-warning-rgb);
  --ion-color-warning-contrast: var(--color-warning-50);
  --ion-color-warning-contrast-rgb: var(--color-warning-50-rgb);
  --ion-color-warning-shade: var(--color-warning-700);
  --ion-color-warning-tint: var(--color-warning-500);
  --ion-color-warning-dark: var(--color-warning-900);

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-rgb: var(--color-danger-rgb);
  --ion-color-danger-contrast: var(--color-danger-50);
  --ion-color-danger-contrast-rgb: var(--color-danger-50-rgb);
  --ion-color-danger-shade: var(--color-danger-700);
  --ion-color-danger-tint: var(--color-danger-500);
  --ion-color-danger-dark: var(--color-danger-950);

  --ion-color-dark: var(--color-slate-900);
  --ion-color-dark-contrast: var(--color-slate-50);
  --ion-color-dark-shade: var(--color-slate-950);
  --ion-color-dark-tint: var(--color-slate-800);

  --ion-color-medium: var(--color-slate-400);
  --ion-color-medium-contrast: var(--color-slate-50);
  --ion-color-medium-shade: var(--color-slate-500);
  --ion-color-medium-tint: var(--color-slate-300);

  --ion-color-light: var(--color-white);
  --ion-color-light-contrast: var(--color-slate-950);
  --ion-color-light-shade: var(--color-slate-200);
  --ion-color-light-tint: var(--color-white);

  --ion-page-background: #f1f2f6;
  --ion-item-background: var(--color-white);

  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --ion-toolbar-background: var(--ion-color-primary-gradient);
  --ion-toolbar-color: var(--color-white);
  --ion-toolbar-color-activated: var(--color-white);

  --form-value-color: rgba(var(--color-primary-800-rgb), 0.85);
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: var(--ion-color-primary-dark);
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

// FONTS START
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf');
  font-weight: 700;
}

:root {
  --ion-font-family: 'Inter';
  font-family: 'Inter';
}

ion-title,
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}
// FONTS END

// header colours
.apps-section .apps-section-h,
h1,
h2,
h3 {
  color: var(--ion-color-primary-dark);
}

// ACCESSIBILITY IMPROVEMENTS START
// clearer image picker empty message
.photo-picker {
  &.ios .empty {
    font-size: 0.9em !important;
  }
  &.md .empty {
    font-size: 1em !important;
  }
}

// larger collapse headers
.collapse-block ion-label.ion-text-wrap {
  font-size: 0.9em;
}

// clearer alert messages
ion-alert div.alert-message.sc-ion-alert-md {
  color: black;
  font-size: 1.1em;
}
// ACCESSIBILITY IMPROVEMENTS END

// subtle borders around rounded items
.survey-list-item,
.slider-input-attr,
.input-list-attr .input-list-attr-item,
.radio-input-attr ion-item,
.taxa-filter-edit-dialog-form ion-item,
ion-textarea.textarea-attr,
ion-col.grid-input-attr-item,
ion-item-sliding.survey-list-item,
.rounded-list:not(:empty) {
  border: 1px solid var(--ion-color-primary-border);
  border-radius: var(--theme-border-radius);
}

// add borders to all survey info messages
.survey .info-message:not(.no-padding) {
  border: 1px solid var(--ion-color-primary-border);
  border-radius: var(--theme-border-radius);
  margin: 0.5rem;
}

// list item picture
.list-avatar {
  @apply flex size-14 shrink-0 items-center justify-center overflow-hidden rounded-md bg-neutral-100;
}

// top of the list title
.list-title {
  @apply mx-1 mb-3 mt-4 flex items-center text-lg;
}

// top of the list item
.list-divider {
  @apply flex items-center justify-between bg-neutral-200/70 p-1 px-2 text-sm text-neutral-600;
}

// Make Android icons dark, same as iOS
ion-icon[slot='start'].md {
  color: var(--ion-text-color, #000);
}

// Makes iOS menu items same height as Android
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios {
  margin-top: 12px;
  margin-bottom: 12px;
}

// Add padding to pages
ion-content {
  // add safe padding for devices with a notch
  --padding-top: env(safe-area-inset-top);
  --padding-bottom: 30px;
}

// Make menu item value colours same as form values, e.g. Settings page
ion-item .sc-ion-label-md-h.sc-ion-label-md-s.md[slot='end'],
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios[slot='end'] {
  color: var(--form-value-color);
}

// make all primary button text colours secondary
ion-item[type='button'][color='secondary'],
ion-button[color='secondary'] {
  --ion-color-contrast: var(--color-primary) !important;
}

// underline links
a[href]:not([role='listitem']) {
  font-weight: 600;
  text-decoration-line: underline;
}

// survey pages need extra padding for the footer navigation
ion-content.survey {
  --padding-top: 0;
  --padding-bottom: 100px;
}

// fix checkbox icons
.checkbox-input-attr ion-item.hasIcon {
  --padding-start: 0;
  img {
    height: 100%;
    width: 4rem;
    object-fit: cover;
    margin-right: 10px;
  }
}

// fix mapbox attribution size
.mapboxgl-ctrl-attrib.mapboxgl-compact-show {
  margin-bottom: 3px;
  .mapboxgl-ctrl-attrib-inner {
    font-size: 10px;
  }
}

// hide 3 things input buttons - always show minimum 3 out of 3
.input-list-attr-item ion-button {
  display: none;
}

// fix feeling question input alignment
.attr.attr-feeling .text-input,
.attr.attr-comment .text-input,
ion-item.slider-input-attr {
  @apply mx-2;
  width: calc(100% - 1rem);
}

ion-checkbox {
  --checkbox-background-checked: white;
  --checkmark-color: var(--form-value-color);
}
